@media (max-width: 1200px) {
    .promo {
        &__header {
            padding: 20px 44px;
        }
        &__main {
            padding: 20px 44px;
            &__topic {
                width: 450px;
                z-index: 10;
            }
            &__view {
                &__lines {
                    &__two, &__three {
                        left: none;
                        right: -43px;
                    }
                }                
            }
        }
        &__contact {
            &__visit, &__call, &__msg {
                position: relative;
                display: flex;
                padding: 10px 40px;
                width: 33%;
        }
        }
    }
        
    .btn {
        width: 130px;
    }
    #menu {
        padding: 0 5px;   
    }
    .divider-vertical {
        height: 10rem;
    }
    .intro {        
        &__top, &__about, &__bottom {
            padding: 40px 20px;
            align-items: center;
            
            & svg {
                display: none;
            }
            &__descr {
                width: 45%;
            }
            & p {
                margin-bottom: 0;
            }
        }
        &__about {
            & img {
                width: 50%;
            }
            & .btn {
                width: 255px;
            }
        }        
    }
}








@media (max-width: 1023px) {
    .promo {
        &__header {
            padding: 20px;
            &__items:nth-child(2) {
                display: flex;
                flex-direction:column;
            }
        }
        &__main {
            padding: 20px;
            &__topic {
                width: 400px;
                z-index: 10;
            }
            &__view {
                &__lines {
                    &__two, &__three {                        
                        right: -30px;
                    }
                }
            }             
        }
    }
    .cards__line svg {
        display: none;
    }
}







@media (max-width: 992px) {
    .main-content {
        display: flex;
    }
    .promo {
        &__main {            
        display: flex;
        flex-direction: column-reverse; 
            &__topic {
                margin: 0 auto;
                z-index: 20;
                h1 {
                    margin-top: 20px;
                    text-align: center;                    
                }
                &__info {
                display: none;
                }
                &__access {
                    .btn {
                        margin: 0 auto;
                    } img {
                        display: none;
                    }
                }                 
            }
            &__view img {
                width: 115%;
            }
        }
        &__header {
            z-index: 30;
            &__items {
            display: none;
            }
        }
        &__contact {            
            &__visit, &__call, &__msg {
                position: relative;
                display: flex;
                padding: 20px 20px;
                width: 30%;
                &__info__header {
                    font-size: 14px;
                }
                &__info__text {
                    font-size: 10px;
                    hyphens: auto;
                }                
            }   
        }
        .divider-vertical {
            height: 8rem;
            }
        }
    #container {
        display: block;
        position: fixed;
        z-index: 30;
        top: 0;
        left: 0;
        background-color: #302C42;
        width: 320px;
        height: 100%;
        overflow-y: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        max-height: 0;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;       
        background-image: url('../icons/Frame\.svg');
        background-repeat: no-repeat;
        background-position: center bottom;            
        & button {
            display: none;
            }            
        }
    #container.show {
            max-height: 100%;
            opacity: 1;
          }
    #menu {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        text-align-last: left;           
    }
    #menu li {
        width: 50%;
        & li a {
            text-align: left;
        }
    }
    #menu li ul {
        display: block;
        left: 100%;
        top: 0;       
        overflow: visible;
        position: absolute;
        width: 100%;
        & li {
            width: 100%;
        }
    }
    .intro {
        &__top, &__bottom {
           & img {
            display: none;
           } 
        }
    }  
    .cards__line {
        flex-wrap: wrap;
        gap: 20px;
        &__item {
            width:  calc(50% - 10px);
        }
    }
}





@media (max-width: 768px) {
    .promo {
        &__main {
            &__view {
                img {width: 100%;}
                &__lines {                    
                    &__three, &__two, &__one {
                        width: 90%;
                        left: 0;
                    }
                } 
            }
        }        
        &__contact {
            width: 70%;
            &__visit, &__call, &__msg {
                max-width: unset;
                width: unset;
                min-width: 100%;
                flex-basis: 100%;
                display: flex;                
            }
        }
        
        .divider-vertical {
            display: none;
        } 
    .carousel {
        position: relative;
        &-item {
            display: none;
            &.active {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 150px;
            }
        }
        }

        .carousel-control-prev {
            position: absolute;
            left: -60px;
        }
        .carousel-control-next {
            position: absolute;
            right: -60px;
        }

    } 
    .intro {
        &__top {
            &__header {
                margin: 0 auto;
                text-align: center;
            }           
            &__descr {
                display: none;
            }
        }
        &__about {
            display: flex;
            flex-direction: column;
            & img {
                width: 70%;
            }
            &__descr {
                margin-left: unset;
                width: 100%;
                margin: 0 auto;
                text-align: center;               
                &__header {
                    display: none;
                }                
            }           
        }
        &__bottom {
            &__header {
            margin: 0 auto;
            text-align: center;
            }          
            &__descr {
                display: none;
            }
        }
    } 
    .carousel {
        display: block;
        
    }
    .cards {
        &__line {
            padding: 20px;
        }
    }
    .btn__main__light__rouded {
        position: unset;
        height: 40px;
        width: 40px;
        
    }
    .carousel-control-prev {
        left: 16%;    
    }
    
    .carousel-control-next {
        right: 16%;
    }
   

  
} 



@media (max-width: 575px) {
    .promo {
        &__main {
            &__view {
                img {width: 100%;}
                &__lines {                    
                    &__three, &__two, &__one {
                        width: 80%;
                        
                    }
                } 
            }
        }
    }
}

@media (max-width: 534px) {
    .promo {
        &__main {
            &__view {
                width: 80%;
                & img {
                    margin-top: 50px;
                }
            }
            &__topic h1 {
                padding-top: 0;
            }
        }
       
    }
}
@media (max-width: 420px) {
    .promo {
        &__main {
            &__view {
                &__lines {                    
                    &__two, &__one {
                        top: -200px;
                    }
                    &__three {
                        top: -50px;
                    }
                }
               }
            &__topic {
                width: 320px;
                & h1 {
                    font-size: 36px;
                }
            }
        }       
    }
    .main-content {
        right: -15px;
    } 
    .intro__top__header span {
        font-size: 30px;        
    } 
    .intro__top__header p {
        font-size: 30px;        
    } 
     .intro__bottom__header span {
        font-size: 30px;        
    } 
    .intro__bottom__header p {
        font-size: 30px;        
    } 
    
}