@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #302C42;
    
}
.divider {
    width: 70%;
    height: 2px;
    background-color: rgba(192, 183, 232, 0.33);
    margin: 0 auto;
    
}
.divider-vertical {
    height: 12rem;
    width: 6px;
    background: linear-gradient(to bottom, #211E2E 0%, #403A5F 50%, #211E2E 100%);
}

.scrollup {
    position: fixed;
    display: none;
    right: 5px;
    bottom: 0;
    background-color: transparent;
    z-index: 20;
    &:hover {
        animation: moveUp 3s infinite;
    }    
}

@import 'blocks/promo';
@import 'blocks/btn';
@import 'blocks/fontsize';
@import 'blocks/intro';
@import 'blocks/cards';
@import 'blocks/use';
@import 'blocks/build';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/dropmenu';

@import 'base/media'