.fz_64 {
    color: #343045;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fz_36 {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &_light {
        color: #FFF;
        font-size: 36px;
        font-weight: 300;
    }
}
.fz_24 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
.fz_16 {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.fz_14 {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.fz_12 {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &_light {
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
    }
    }