.contact {
    margin: 0 auto;
    width: 100%;
    background-color: #302C42;
    padding: 50px 84px 50px 84px;
    
    &__form {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 100px;
        align-items: center;
        border-radius: 100px;
        background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        
        &__header {
            margin-bottom: 30px;
        }
        &__descr {
            margin-top: 20px;
        }
        &__info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            padding-top: 65px;            
            &__block {
                flex: 1 1 calc(45% - 10px);
                max-width: calc(50% - 1px);
                height: 72px;
                border-radius: 50px;
                background-color: transparent;
                padding-left: 40px;
                border-color: #fff;
                &::placeholder {
                    color: #fff;
                }
                & select, option {
                    background-color: #302C42;
                }
                &:nth-child(n+5):not(:nth-child(7)) {
                    flex: 1 1 100%;
                    max-width: 100%;
                }
                &:nth-child(7) {
                    flex: 1 1 calc(50% - 20px);
                    max-width: none;
                } 
            }
            #message {
                height: 210px;
                padding-top: 30px;
            }           
        }
    }
}
